.header{
    width: 95%;
    line-height: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &_inputContainer{
        position: relative;
        display: inline-block;
        input {
            outline: none;
            border: 1px solid rgb(134, 136, 158);
            border-radius: 5px;
            font-size: 16px;
            padding: 14px 20px;
            padding-left: 35px;
            background-color: #101529;
            color: rgb(190, 193, 221);
            
            &:focus {
                border: 1px solid rgb(190, 193, 221);
                background-color: #151a33;
            }
        }

        .searchIcon {
            position: absolute;
            left: 10px;
            top: 15px;
            width: 20px;
            opacity: 0.6;
        }

        .clearIcon {
            position: absolute;
            top: 15px;
            right: 10px;
            opacity: 0.5;
            width: 20px;

            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }

    &_rolesContainer {
        border: 1px solid rgb(134, 136, 158);
        border-radius: 5px;
        padding: 1px;
        background: none;
        &_activeButton, &_inactiveButton {
            margin: 2px;
            padding: 2px;
            border-radius: 3px;
            border: none;
            transition: .2s ease-in-out 0s;          
            :hover {
                filter: brightness(1.8);
                transform: scale(1.1);
                cursor: pointer;
            } 

            img {
                display: block;
                width: 35px;
            }
        }

        &_activeButton {
            background-color: #1a2244;
            filter: brightness(1.2); 
            img {
                opacity: 0.8;
            }
        }

        &_inactiveButton {
            background-color: #070d1a;

            img {
               opacity: 0.2;
            }
        }
        
    }
    
    ::placeholder {
        color: rgb(190, 193, 221);
        opacity: 0.5;
    }
}