.header{
    line-height: 0px;

    &_inputContainer{
        position: relative;
        display: inline-block;
        input {
            outline: none;
            border: 1px solid rgb(134, 136, 158);
            border-radius: 8px;
            font-size: 12px;
            padding: 10px 18px;
            padding-left: 35px;
            background-color: #101529;
            color: rgb(190, 193, 221);
            
            &:focus {
                border: 1px solid rgb(190, 193, 221);
                background-color: #151a33;
            }
        }

        .searchIcon {
            position: absolute;
            left: 10px;
            top: 10px;
            width: 16px;
            opacity: 0.6;
        }

        .clearIcon {
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0.5;
            width: 16px;

            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }
    
    ::placeholder {
        color: rgb(190, 193, 221);
        opacity: 0.5;
    }
}