.header{
    width: 95%;
    line-height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_inputContainer{
        position: relative;
        display: inline-block;
        input {
            outline: none;
            border: 1px solid rgb(134, 136, 158);
            border-radius: 5px;
            font-size: 16px;
            padding: 14px 20px;
            padding-left: 35px;
            background-color: #101529;
            color: rgb(190, 193, 221);
            
            &:focus {
                border: 1px solid rgb(190, 193, 221);
                background-color: #151a33;
            }
        }

        .searchIcon {
            position: absolute;
            left: 10px;
            top: 15px;
            width: 20px;
            opacity: 0.6;
        }

        .clearIcon {
            position: absolute;
            top: 15px;
            right: 10px;
            opacity: 0.5;
            width: 20px;

            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }

    &_rolesContainer {
        margin: 0 25px;
        border: 1px solid rgb(134, 136, 158);
        border-radius: 5px;
        padding: 2px;
        background: none;
        display: flex;   
    }
    
    ::placeholder {
        color: rgb(190, 193, 221);
        opacity: 0.5;
    }
}

@media screen and (max-width: 650px) {

    .header{
        justify-content: flex-start;
    }
}
@media screen and (max-width: 500px) {

    .header{
        flex-direction: column;

        input {
            width: 220px;
        }
        &_rolesContainer {
            margin: 10px;
        }
    }
}
