.descriptionContainer {
    background-color: rgb(9, 12, 20);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 300;
    font-size: 1.1em;
    color: rgb(190, 193, 221);

    p {
        font-weight: 400;
        font-size: 1.2em;
    }
    div {
        line-height: 1.8em;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        margin: 5px;
    }

    .descriptionBlock {
        & > :first-child {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: none;
            img {
                width: 40px;
                margin-right: 5px;
            }
        }

        &_attributes {
            background-color: rgb(31, 31, 55);
        }
    }

    .usage {
        display: flex;
        &_image {
            width: 30px;
        }
    }
}