.str {
    color: rgb(238, 70, 9)
}

.agi {
    color: rgb(60, 195, 22);
}

.int {
    color: rgb(62, 181, 255)
}

.profile {
    grid-area: description;
    display: flex;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(9, 12, 20);
    line-height: 3em;
    padding: 10px;

    & * {
        margin: 0 10px;
    }
    img {
        border-radius: 5px;
        // height: 150px;
    }

    .role {
        background-color: rgb(31, 31, 55);
        border-radius: 10px;
        padding: 4px 8px;
        margin: 5px;
    }

    .attackType {
        width: 35px;
    }
}