.str {
    color: rgb(238, 70, 9)
}

.agi {
    color: rgb(60, 195, 22);
}

.int {
    color: rgb(62, 181, 255)
}

.profile {
    grid-area: description;
    display: flex;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(9, 12, 20);
    line-height: 2em;
    padding: 10px;

    & * {
        margin: 0 10px;
    }
    img {
        border-radius: 5px;
        // height: 150px;
    }

    .attackType {
        width: 35px;
    }

    .rolesTitle {
        display: flex;
        justify-content: center;
        img {
            width: 20px;
            vertical-align: middle;
        }

        img:hover {
            cursor: pointer;
            filter: brightness(1.3);
        }
    }

    .roles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        .role {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(31, 31, 55);
            border-radius: 10px;
            padding: 4px;
            width: 70px;
            height: 30px;
            margin: 2px;
        }
    }
}


@media screen and (max-width: 1200px) {

    .profile {
        line-height: 1.5em;
        font-weight: 200;
        padding: 5px;

        h2 {
            font-size: 1.2em;
        }
    
        & * {
            margin: 5px;
        }
        img {
            border-radius: 5px;
        }
    
        .attackType {
            width: 25px;
        }
    
    }    
    
}
@media screen and (max-width: 550px) {

    .profile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
    
}