.header {
    background-color: rgb(9, 12, 20);
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;

    p {
        font-weight: 300;
        color: rgb(190, 193, 221);
        font-size: 1.2em;
        margin-left: 30px;
    }

    a {
        color: rgb(190, 193, 221);
        text-decoration: none;
    }

    a:hover {
        filter: brightness(1.2);
        text-decoration: underline;
    }
}

.itemContainer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;

    & > * {
        margin: 10px;
        width: 48%;
    }
}