
.heroSection {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 95%;
}

.heroesBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.attributeBlock {
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 20px;
        margin-right: 4px;
    }

    span {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.1em;
        color: rgb(190, 193, 221);
    }
}

.heroBlock {
    flex-grow: 1;
    border-radius: 3px;
    margin: 4px;
    width: 80px;
    max-width: 90px;
    overflow: hidden;
    position: relative;
    transition: 0.2s ease-in-out;
    &_image_active, &_image_notActive {        
        width: 100%;   
        vertical-align: middle;
        border-radius: 3px;

    }
    &_image_notActive{
        opacity: 0.2;
    }

    &_title, &_title_inactive {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: rgba(33, 33, 33, 0.6);
        text-decoration: none;
        font-size: 0.7em;
        letter-spacing: 0.05em;
        color:aliceblue;
        font-weight: lighter;
        opacity: 0;
    }

    &_title_inactive {
        background-color: rgba(33, 33, 33, 0.3);
    }

    &:hover {
        cursor: pointer;
        filter: brightness(1.2);
        transform: scale(1.2);        
    }
    &:hover &_title{
        opacity: 1;
    }
    &:hover &_title_inactive{
        opacity: 0.4;
    }

    
}


