.attributeImg {
    width: 30px;
    margin: 5px;
    opacity: 0.8;
}

.activeAttribute {
    width: 40px;
    filter:brightness(1.5)
}

.stats {
    grid-area: stats;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(9, 12, 20);

    .statsBlock {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 90%;
        margin: 15px;

        & > :first-child {
            display: flex;
            background: none;
            justify-content: flex-start;
            align-items: center;
            img {
                width: 35px;
                margin-right: 5px;
            }
        }

        div {
            width: 100%;
            padding: 5px;
            margin: 5px 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 8px;
            background-color: rgb(31, 31, 55);
        }

        .attributeStat {
            justify-content: space-between;
        }

        span {
            min-width: 180px; //prevents from squeezing when spans get bigger e.g. 90-100
            text-align: center;
            margin: 0 30px;
        }
    }
}