.lore {
    grid-area: lore;
    border-radius: 5px;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(9, 12, 20);
    padding: 0 20px;
    font-weight: 200;
    color: rgb(190, 193, 221);

    p {
        margin: 8px;
    }
}