.Header {
    grid-area: "header";
    background-color: #070d1a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .logo {
        display: flex;
        justify-content: flex-start;
        width: 20%;
        margin-left: 20px;
        img {
            width: 60px;
            margin: 5px;
            justify-self: end;   
            filter: brightness(1.2);
        }

        img:hover {
            cursor: pointer;
            filter: brightness(1.4);
        }
    }

    .buttons {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        button {
            font-size: 1.2em;
            width: 80px;
            border-radius: 5px;
            background: none;
            color: rgb(190, 193, 221);
            padding: 10px;
            border: none;
        }
    
        button:hover {
            background-color: rgb(31, 31, 55);
            filter:brightness(1.2);
            cursor: pointer;
        }
    }

}

@media screen and (max-width: 800px) {

    .Header {
        .logo {
            margin-left: 10px;
            img {
                width: 60px;
                margin: 5px;
            }
        }
    
        .buttons {
            button {
                font-size: 1em;
                width: 60px;
                padding: 5px;
            }
        }
    
    } 
}
@media screen and (max-width: 400px) {

    .Header {
        .logo {
            width: 30%;
        }
    
        .buttons {
            width: 70%;
        }
    }   
}