img {
    vertical-align: middle;
}

.Container {
    margin: 0 auto;
    width: 95%;

    p {
        font-size: 1.1em;
        font-weight: bolder;
    }
}

.header {
    background-color: brown;
}

.hero_overview{
    display: grid;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "description stats"
    "lore stats";
    grid-gap: 5px;
}
