.abilities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    margin: 20px auto;
}

.abilityBlock {
    background-color: rgb(9, 12, 20);
    border-radius: 5px;
    display: flex;
    width: 32%;
    margin: 15px 0;
    flex-direction: column;
    font-size: .95em;
    img {
        border-radius: 5px;
    }

    &_top {
        padding: 5px;
        display: flex;
        margin: 4px;
        justify-content: space-evenly;
        
        &_image{   
            position: relative;
            margin: 5px;
            img:hover {
                filter: brightness(1.2);
            }
            .tooltip {
                position: absolute;
                background-color: rgb(31, 31, 55);
                padding: 0.3em;
                border-radius: 3px;
                left: 50%;
                top: -40px;
                width: max-content;
                transform: translateX(-50%);
                display: none;
                
            }

            .tooltip::after{
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                border-width: 5px;
                border-style: solid;
                border-color: rgb(31, 31, 55) transparent transparent transparent;   
            }
        }

        &_image:hover {
            .tooltip {
                display: block;
            }
        }

        &_stats {
            min-height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

        }

        &_dmg {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        &_stats, &_dmg {
            p {
                font-size: 1.1em;
                font-weight: 500;
            }
    }

    }

    &_bottom {
        padding: 2px;
        display: flex;
        flex-direction: column;

        div {
            margin: 5px;
            font-weight: 200;
            line-height: 1.8em;
        }

        .title {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 35px;
                margin-right: 8px;            }
        }
    }
}

.utilityIcon {
    width: 30px;
    margin: 3px;
}


@media screen and (max-width: 1050px) {
    .abilityBlock {
        width: 48%;
    }
}
@media screen and (max-width: 700px) {
    .abilityBlock {
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .abilities{
        .abilityBlock {
            &_top {
                &_image {
                    img {
                        width: 100px;
                    }
                }
                &_stats, &_dmg {
                    p, span {
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}