.abilities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    margin: 20px auto;
    p {
        font-size: 1.2em !important;
        font-weight: 500 !important;
    }
}

.abilityBlock {
    background-color: rgb(9, 12, 20);
    border-radius: 5px;
    display: flex;
    width: 32%;
    margin: 10px 0;
    flex-direction: column;
    font-size: .95em;
    img {
        border-radius: 5px;
    }

    &_top {
        padding: 10px;
        display: flex;
        justify-content: space-evenly;

        &_stats {
            min-height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

        }

        &_dmg {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    &_bottom {
        padding: 2px;
        display: flex;
        flex-direction: column;

        div {
            margin: 5px;
            font-weight: 200;
            line-height: 1.8em;
        }

        .title {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 35px;
                margin-right: 8px;            }
        }
    }
}

.utilityIcon {
    width: 30px;
    margin-right: 5px;
}