.abilities {
    background-color: rgb(102, 61, 26);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    p {
        font-size: 1.2em !important;
        font-weight: 500 !important;
    }
}

.abilityBlock {
    background-color: rosybrown;
    margin: 10px 0;
    display: flex;
    width: 33%;
    flex-direction: column;
    padding: 10px;

    img {
        border-radius: 5px;
    }

    &_top {
        padding: 5px;
        background-color: rgb(111, 84, 15);
        display: flex;
        justify-content: space-evenly;

        &_stats {
            background-color: rgb(66, 49, 8);
            min-height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

        }

        &_dmg {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: rgb(15, 29, 25);
        }
    }

    &_bottom {
        padding: 2px;
        background-color: rgb(26, 35, 63);
        display: flex;

        & > :first-child, & > :last-child {
            width: 50%;
        }



        div {
            margin: 5px;
            font-weight: 200;
            line-height: 1.8em;
            background-color: rgb(50, 51, 21);
        }
    }
}