.range {
    grid-area: scroll;
    display: flex;
    justify-content: space-evenly;
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(9, 12, 20);
    width: 100%;
    min-height: 60px;
    &_scroll {
        width: 80%;
        filter: brightness(0.8);
    }

    &_scroll::-webkit-slider-thumb {
        cursor: pointer;
    }
    span {
        width: 60px;
    }
    
}