.partsContainer {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    color: rgb(190, 193, 221);
    font-size: 1.2em;
    background-color: rgb(9, 12, 20);
    border-radius: 5px;
    padding: 10px;


    &_parts {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;

        & > * {
            background-color: rgb(31, 31, 55);
            padding: 20px;
            border-radius: 5px;
            margin: 10px;
            .componentImage {
                border-radius: 5px;
            }

            .componentImage:hover {
                filter: brightness(1.2);
                cursor: pointer;
            }
        }
    }

    .costBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        .costImage {
            width: 20px;
            margin-right: 5px;
        }
    }

}