.html, .body {
    height: 100%;    
}

.App {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    text-align: center;
    color: antiquewhite;
}

.Main {
    grid-area: "main";
    background-color: #101529;
}