.wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 2em;
    margin: auto;
    overflow: hidden;
    color: rgb(190, 193, 221);
    &_error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
            margin: 5px;
            z-index: 2;
            font-size: 1em;
            width: max-content;
            border-radius: 5px;
            background: none;
            padding: 5px;
            border: none;
            a {
                text-decoration: none;
                color: rgb(190, 193, 221);
            }
        }
    
        button:hover {
            background-color: rgb(31, 31, 55);
            filter:brightness(1.2);
            cursor: pointer;
        }
    }
    img {
        width: 300px;
        height: 300px;
    }

    p {
        z-index: 2;
    }
    .topImage {
        position:absolute;
        top: 0;
        left: 0;
    }
    .bottomImage {
        position:absolute;
        bottom: 0;
        right: 0;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        font-size: 1.3em;
    img {
        width: 150px;
        height: 150px;
    }
}
}